<canvas id='canvas'></canvas>
<div id='dat-gui-container'></div>
<style>
  #dat-gui-container {
    /* position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    pointer-events: all; */
  }

  .property-name {
    font-size: 10px;
  }

  .close-button {
    background-color: rgba(0, 0, 0, 0) !important;
  }
</style>
<script src='./globe.js'></script>
